/* --- GENERAL --- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: sans-serif;
}

/* --- HEADER --- */

header{
    background-color: black;
    color: white;
    text-align: right;
    padding: 10px;
    height: 70px;

}

header > .button-grey{
    margin-left: 6px;
}

.nav-dx > i{
    padding: 3px;
}

.button-grey{
    background-color: #4a4a4a;
    border-radius: 5px;
    padding: 4px;

}

/* --- MAIN --- */

main {
    height: calc(100vh - 140px);
    overflow-y: auto;

}

.container{
    display: flex;
    margin: 0 auto;
    width: 88%;
    flex-wrap: wrap;
    justify-content: space-around;

    
}

.card{
    position: relative;
    width: 250px;
    height: 150px;
    margin-bottom: 5px;
}

.name{
    position: absolute;
    background-color:rgba(0,0,0,0.5);
    bottom: 0;
    color: white;
    padding: 6px;
}


/* --- FOOTER --- */



footer{
    color: white;
    height: 65px;
}

.container-footer{
    width: 99%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.column-footer{
    margin: 0 10px;
}

.footer-left, .footer-central, .footer-right{
    font-size: 20px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    padding-top: 10px;
    text-align: center;
}

.footer-central{
justify-content: space-around;
}


.footer-right{
    color: red;
    background-color: grey;
}


li{
    list-style-type: none; 
}

#icon-footer{
    font-size: 35px;
    padding: 5px;
}

#icon-descript{
    font-size: 10px;
}

#angleup{
    padding: 8px;
    font-size: 10px;
}

#icon-footer-green{
    font-size: 35px;
    padding: 5px;
    color: #06db09;
}

#icon-descript-end{
    font-size: 15px;
}
