*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

header{
    background-color: black;
    color: white;
    text-align: right;
    padding: 10px;
    height: 70px;

}

header > .button-grey{
    margin-left: 6px;
}

.nav-dx > i{
    padding: 3px;
}

.button-grey{
    background-color: #4a4a4a;
    border-radius: 5px;
    padding: 4px;

}

.container{
    display: flex;
    margin: 0 auto;
    width: 88%;
    flex-wrap: wrap;
    justify-content: space-around;

    
}

.card{
    position: relative;
    width: 250px;
    height: 150px;
    margin-bottom: 5px;
}

.name{
    position: absolute;
    background-color:rgba(0,0,0,0.5);
    bottom: 0;
    color: white;
    padding: 6px;
}

main {
    height: calc(100vh - 140px);
    overflow: auto;

}

footer{
    color: white;
    height: 70px;
}